
* {
    margin: 0;
    padding: 0;
}

/* set up variables */
:root {
    --primary-color: #3c4353;
    --secondary-color: #5967a6;
    --tertiary-color: #d5abb9;
}

body {
    color: var(--primary-color); 
    font-family: helvetica, Arial, Helvetica, sans-serif;
    background-color: #f3eff3;
}

/* apply styles to header */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 1.55vw;
    font-style: italic;
    text-decoration: underline;
}
/* end header style */

/* add style to the hero */
.hero {
    background-image: url("../images/hero.png");
    height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero h3{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: #9375a0;
    background-color: var(--primary-color);
    padding: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
/* end hero style */

.section-title {
    font-size: 30px;
    color: var(--primary-color);
}


/* add styles to the "about-me" section */
.intro {
    display: flex;
}

.intro div h2 {
    text-align: right;
}

.intro-wrapper {
    border-left: 3px solid;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px;
}

.intro p {
    background: transparent;
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
}

/* end "about-me" style */

/* add style to "my work" section */
.work {
    display: flex;
}

.work div h2 {
    text-align: right;
}

.work-wrapper {
    border-left: 3px solid;
    display: flex;
    width: 100%;
    justify-content: center;
}

/* add style to grid */
.work-grid-container {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
}

.work-grid-item {
    background-color: var(--secondary-color);
    border: solid;
    padding: 1em;
    color: var(--primary-color);
}
/* end "my work" style */

/* add style to "contact me" section */
.contact-wrapper {
    border-left: 3px solid;
    display: flex;
    width: 100%;
    justify-content: center;
}

.contact {
    display: flex;
}

.contact div h2 {
    text-align: right;
}
 
.box {
    display: flex;
    justify-content: space-between;
}

.one {
    flex: 1;
}

.two {
    flex: 1;
}

.three {
    flex: 1;
}

.four {
    flex: 1;
}

.contact-info a:link {
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: underline;
}

.contact-info a:visited {
    color: var(--primary-color);
    background-color: transparent;
    text-decoration: underline;
}

.contact-info a:hover {
    color: var(--tertiary-color);
    background-color: transparent;
    text-decoration: underline;
}

.contact-info a:active {
    color: var(--secondary-color);
    background-color: transparent;
    text-decoration: underline;
}
/* end "contact info" style */