
* {
    margin: 0;
    padding: 0;
}

/* add styles to body */
body {
    color: var(--primary-color); 
    font-family: helvetica, Arial, Helvetica, sans-serif;
    background-color: #f3eff3;
}

.vl {
    border-left: 6px solid var(--primary-color);
    height: 225px;
    margin-top: 10px;
}

.vl2 {
    border-left: 6px solid var(--primary-color);
    height: 600px;
    margin-bottom: 10px;
}

.vl3 {
    border-left: 6px solid var(--primary-color);
    height: 150px;
}

/* set up variables */
:root {
    --primary-color: #3c4353;
    --secondary-color: #5967a6;
    --tertiary-color: #d5abb9;
}

/* apply styles to header */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 1.55vw;
    font-style: italic;
    text-decoration: underline;
}
/* end header style */

/* add style to the hero */
.hero {
    background-image: url("../images/hero.png");
    height: 250px;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 80%;
    z-index: -1;
}

.hero h3{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: #9375a0;
    background-color: var(--primary-color);
    padding: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
/* end hero style */

.section-title {
    font-size: 30px;
    color: var(--primary-color);
}

/* add styles to the "about-me" section */
.me-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.intro {
    display: flex;
}

.intro div h2 {
    text-align: justify;
    margin-top: 10px;
    margin-right: 35px;
}

.intro p {
    background: transparent;
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
}
/* end "about-me" style */

/* add style to "my work" section */
.work-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.work {
    display: flex;
    margin-bottom: 20px;
}

.work div h2 {
    text-align: justify;
    margin-right: 48px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: var(--secondary-color);
    padding: 10px;
    margin-left: 2%;
  }
  
  .grid-container > div {
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    width: 250px;
    height: 250px;
  }

  .box-1 {
      background-image: url("../images/run-buddy.png");
      border: 5px solid var(--primary-color);
      background-size: cover;
      background-position: center;
  }
  
  .container-1 {
      color: whitesmoke; 
      background-color: var(--tertiary-color);
  }

  .box-2 {
    background-image: url("../images/password-generator.png");
    border: 5px solid var(--primary-color);
    background-size: cover;
    background-position: center;
}

.container-2 {
    color: whitesmoke; 
    background-color: var(--tertiary-color);
}

.box-3 {
    background-image: url("../images/workday-scheduler.png");
    border: 5px solid var(--primary-color);
    background-size: cover;
    background-position: center;
}

.container-3 {
    color: whitesmoke; 
    background-color: var(--tertiary-color);
}

.box-4 {
    background-image: url("../images/weather-dashboard.png");
    border: 5px solid var(--primary-color);
    background-size: cover;
    background-position: center;
}

.container-4 {
    color: whitesmoke; 
    background-color: var(--tertiary-color);
}

.box-5 {
    background-image: url("../images/placeholder.png");
    border: 5px solid var(--primary-color);
    background-size: cover;
    background-position: center;
}

.container-5 {
    color: whitesmoke; 
    background-color: var(--tertiary-color);
}

.box-6 {
    background-image: url("../images/placeholder.png");
    border: 5px solid var(--primary-color);
    background-size: cover;
    background-position: center;
}

.container-6 {
    color: whitesmoke; 
    background-color: var(--tertiary-color);
}

.box-7 {
    background-image: url("../images/placeholder.png");
    border: 5px solid var(--primary-color);
    background-size: cover;
    background-position: center;
}

.container-7 {
    color: whitesmoke; 
    background-color: var(--tertiary-color);
}

.box-8 {
    background-image: url("../images/placeholder.png");
    border: 5px solid var(--primary-color);
    background-size: cover;
    background-position: center;
}

.container-8 {
    color: whitesmoke; 
    background-color: var(--tertiary-color);
}

/* end "my work" style */

/* add style to "contact me" section */
.contact-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.contact-wrapper {
    border-left: 3px solid;
    display: flex;
    width: 100%;
    justify-content: center;
}

.contact {
    display: flex;
}

.contact div h2 {
    text-align: justify;
    margin-right: 10px;
}
 
.box {
    display: flex;
    justify-content: space-around;
}

.one {
    margin-left: 45%;
}

.two {
    margin-left: 10%;
}

.three {
    margin-left: 10%;
}

.four {
    margin-left: 10%;
}
/* end "contact info" style */

/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px){
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .work {
        flex: 0 70%
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .work{
        flex: 0 100%;
    }

    .box {
        text-align: center;
    }

    .box > * {
        flex: 0 100%;
    }

}